
{% extends 'base.html' %}

{% block section %}
<h2>ATM</h2>
<p>Tutaj możesz zobaczyć wizualizację gry</p>
{% endblock %}


{% load static %}
<!DOCTYPE html>
<html>
<head>

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
<script type="text/javascript" src="http://jqueryrotate.googlecode.com/svn/trunk/jQueryRotate.js"></script>
<script>

$(document).ready(function(){
	
	//zmienna pomocnicza
	var string,  wartosc1;
	//pierwszy wczytany nick to pierwszy gracz
	var nickname;
	//nazwa karty
	var card;
	//gracze 1 i 2
	var gracz1='{{gracz1}}';
	var gracz2='{{gracz2}}';
	//ile akcji
	var ile ={{ileakcji}};
	//licznik akcji
	var licznik=0;
	//pomocnicza
	//tablica atakujacych
	var atakujace=[];
	//tablica broniacych
	var broniacy;
	//indeks tablicy ataujacych, divow, tablicy smierci i tablicy "add damage"
	var inda=0;
	//indeksy tablicy
	var ind=0, indsm=0, inddmg=0;
	//ktora karte usunac,coatakuje, co broni i ktorej karcie zwiekszamy damage
	var cousunac,coatakuje, cobroni,cel;
	//tablice
	var kartynastole = new Array();
	var divs =[];
	var karty=[];
	var ktorydivwolny=[];
	//tablice z 0 i 1, gdzie 0 - wolny , 1 - zajety
	var ktorydivwolny1=[], ktorydivwolny2=[];
	var akcje = [];
	//tablice hp obu graczy
	var tabhp1=[];
	var tabhp2 = [];
	var smierci = [];
	var damages = [];
	
	for (var i = 0, limit = 9; i <= limit; i++) 
	{
		string = "gracz1div"+i;
		$("#"+string).appendTo('.gracz1');
		$("#"+string).hide();
		ktorydivwolny1[i]=0;
		ktorydivwolny2[i]=0;
		string = "gracz2div"+i;		
		$("#"+string).appendTo('.gracz2');		
		$("#"+string).hide();
	}
	
	//wyswietla "plansze", czyli obie ramki do gry
	$('.gracz1').show();
	$('.gracz2').show();
	
	$("#hp1").append('hp1: 20');
	$("#hp2").append('hp2: 20');
	
	//obsluga przycisku "next"
	$('.nastepny').click(function()	
	{
		if (licznik<ile)	
		{			
			//zwiekszamy licznik akcji
			licznik++;
			coatakuje="";
			cel="";
			cobroni="";
			cousunac="";
			//kopiujemyhp
			if (licznik==1)
			{
				tabhp1[licznik-1]=20;
				tabhp2[licznik-1]=20;
			}
			//w innym przypadku, wpisujemy poprzednia wartosc
			else
			{
				tabhp1[licznik-1]=tabhp1[licznik-2];
				tabhp2[licznik-1]=tabhp2[licznik-2];
			}
			
			if (akcje[licznik-2]=="obrona")
			{
				
				//cofnij atakujacego
				$("#"+atakujace[inda-1]).rotate(360);
				var kto =  ($("#"+atakujace[inda-1]).parent().attr('class'));
				if (kto=="gracz1")
				{
					$("#"+atakujace[inda-1]).animate({top:'-5px'}, 1000);	
					$("#"+broniacy).animate({top:'100px'}, 1000);	
				}
				else if (kto=="gracz2")
				{
					$("#"+atakujace[inda-1]).animate({top:'-100px'}, 1000);	
					$("#"+broniacy).animate({top:'-100px'}, 1000);	
				}
				
				atakujace[inda-1]="";
			}
			
			if (akcje [licznik-2]=="add")
				$("#wyk").remove();
			
			akcje[licznik-1] = "nic";
			//szukamy, ktory gracz gra
			{% for key,value in ktogra.iteritems %}
				wartosc1 = {{key}};
				if (wartosc1 == licznik)
				{
					nickname={{value}};
				}
			{% endfor %}
			
			//szukamy ataku
			{% for key,value in ataki.iteritems %}
				wartosc1 = {{key}};
				if (wartosc1 == licznik)
				{
					coatakuje={{value}};
				}
			{% endfor %}
			
			//szukamy obrony 
			{% for key,value in cele.iteritems %}
				wartosc1 = {{key}};
				if (wartosc1 == licznik)
				{
					cel={{value}};
				}
			{% endfor %}
			
			//szukamy, ktory gracz gra
			{% for key,value in obrony.iteritems %}
				wartosc1 = {{key}};
				if (wartosc1 == licznik)
				{
					cobroni={{value}};
				}
			{% endfor %}
			
		
			//szukamy, jesli trzeba bedzie usunac karte
			{% for key,value in deads.iteritems %}
				wartosc1 = {{key}};
				if (wartosc1 == licznik)
				{
					cousunac={{value}};
				}
			{% endfor %}
			
			//szukamy, czy update zdrowia u 1 lub 2-ego gracza
			{% for key,value in hp1.iteritems %}
				wartosc1 = {{key}};
				if (wartosc1 == licznik)
				{
					$("#hp1").empty();
					$("#hp1").append("hp1: "+'{{value}}');
					tabhp1[licznik-1]='{{value}}';

				}
			{% endfor %}
			
			{% for key,value in hp2.iteritems %}
				wartosc1 = {{key}};
				if (wartosc1 == licznik)
				{
					$("#hp2").empty();
					$("#hp2").append("hp2: "+'{{value}}');
					tabhp2[licznik-1]='{{value}}';
				}
			{% endfor %}
		
			//zaleznie od nicku, wczytujemy karte do danego pola
			if (nickname==gracz1)			
			{					
					//szukamy, ktora karte wczytac
					{% for key,value in karty.iteritems %}
						wartosc1 = {{key}};
						if (wartosc1 == licznik)
						{
							
							ind++;
							card='{{value}}';
							var replaced = card.replace(/%20/g, " ");
							karty[ind-1]=replaced;
							for (var i =0,ogr = ktorydivwolny1.length; i<ogr;i++)
							{
								if (ktorydivwolny1[i]!=1)
								{

									string="gracz1div"+i;
									$("#"+string).rotate(0);									
									ktorydivwolny1[i]=1;	
									break;

								}
							}
							//jesli pozycja diva jest zla - przesuwamy
							var position = $("#"+string).position();
							if (position.top==0)
								$("#"+string).animate({top:"100px"},0);
							$('<img id="theImg" style="height:200px;weight:200px; position:relative;" src="{% static "assets/images/'+replaced+'.jpg" %}" />').appendTo("#"+string);
							$("#"+string).show();
							akcje[licznik-1] = "load";
						}
					{% endfor %}
					//zapamietujemy wczytana karte
					{% for key,value in idlist.iteritems %}
						wartosc1 = {{key}};
						if (wartosc1==licznik)
							kartynastole[ind-1]='{{value}}';							
					{% endfor %}
					
					divs[ind-1]=string;
	
			}
			
			//analogicznie jak wyzej
			else if (nickname==gracz2)
			{				
					{% for key,value in karty.iteritems %}
						wartosc1 = {{key}};
						if (wartosc1 == licznik)
						{
							ind++;
							card='{{value}}';
							
							var replaced = card.replace(/%20/g, " ");
							karty[ind-1]=replaced;
							for (var i =0,ogr = ktorydivwolny2.length; i<ogr;i++)
							{
									if (ktorydivwolny2[i]!=1)
									{

										string="gracz2div"+i;
										$("#"+string).rotate(0);
										ktorydivwolny2[i]=1;
										break;

									}
							}
							var position = $("#"+string).position();
							if (position.top!=0)
								$("#"+string).animate({top:"100px"},0);
							$('<img id="theImg" style="position:relative;height:200px;weight:200px; top:0px"src="{% static "assets/images/'+replaced+'.jpg" %}" />').appendTo("#"+string);
							$("#"+string).show();
							akcje[licznik-1] = "load";
						}
					{% endfor %}
					
					{% for key,value in idlist.iteritems %}
						wartosc1 = {{key}};
						if (wartosc1==licznik)
							kartynastole[ind-1]='{{value}}';							
					{% endfor %}
					
					divs[ind-1]=string;
			}
			
			//jesli trzeba cos usunac
			if (cousunac!="")
			{
				for (var i =0, limit = kartynastole.length; i<limit; i++)
				{
					if (kartynastole[i]==cousunac)
					{
						$("#"+divs[i]).empty();
						ktorydivwolny[indsm]=divs[i];
						var kto =  ($("#"+divs[i]).parent().attr('class'));
						var ktory = divs[i].substr(9,1);
						if (kto == "gracz1")
						{
						
							ktorydivwolny1[ktory]=0;
							
						}
						else
						{
							ktorydivwolny2[ktory]=0;
						}
						smierci[indsm]=karty[i];
						indsm++;
						akcje[licznik-1] = "dead";						
					}
				}
 			}
			
			//atak
			if (coatakuje!="")
			{
				for (var i=0, ogr =ind; i<ind;i++)
				{
					if (kartynastole[i]==coatakuje)
					{	
						var kto =  ($("#"+divs[i]).parent().attr('class'));
						if(kto=="gracz1")
						{
							$("#"+divs[i]).rotate(90);
							$("#"+divs[i]).animate({top:'100px'}, 1000);


						}
						else if (kto=="gracz2")
						{
							$("#"+divs[i]).rotate(90);
							$("#"+divs[i]).animate({top:'-30px'}, 1000);
						}
													
						atakujace[inda]=divs[i];
						inda++;
						akcje[licznik-1] = "atak";
						break;
					}
				}
			}
			
			//obrona
			if (cobroni!="")
			{
				
				for (var i=0, ogr =ind; i<ind;i++)
				{
					if (kartynastole[i]==cobroni)
					{	

							var kto =  ($("#"+divs[i]).parent().attr('class'));
							if(kto=="gracz1")
							{
								$("#"+divs[i]).animate({top:'100px'}, 1000);
						
							}
							
							else if (kto=="gracz2")
							{

									$("#"+divs[i]).animate({top:'-20px'}, 1000);									
							}
							broniacy=divs[i];
							akcje[licznik-1] = "obrona";
							break;				
					}

                }
			}
			
			//jesli ktorej karcie trzeba zwiekszyc damage
			if (cel!="")
			{
				for (var i=0, ogr =ind; i<ind;i++)
				{
					if (kartynastole[i]==cel)
					{	
						$('<img id="wyk" style="position:relative;height:50px;weight:50px; " src="{% static "assets/images/wykrzyknik.jpg" %}" />').appendTo("#"+divs[i]);	
						$("#"+divs[i]).show();
						akcje[licznik-1]="add";
						damages[inddmg]=divs[i];
						inddmg++;
						break;
					}

                }
			}
		
		//wyswietlamy tekst z pliku
		$("#tekst").empty();
		{% for key,value in akcje.iteritems %}
			wartosc = {{key}};
			if (licznik == wartosc)
				$("#tekst").append('{{value}}');							
		{% endfor %}
	
			
		}
	
    });
	
	//obsluga przycisku "previous"
	$('.poprzedni').click(function()
	{
		//zmieniamy hp
		if (licznik!=0)
		{
			
			$("#hp1").empty();
			$("#hp1").append("hp1: "+tabhp1[licznik-1]);
		
			$("#hp2").empty();
			$("#hp2").append("hp2: "+tabhp2[licznik-1]);
			licznik=licznik-1;
		}
		//lub czyscimy cale pole
		else if (licznik==0)
		{
			for (var i =0, limit = divs.length; i<limit; i++)
			{			
				$("#"+divs).empty();
			}	
		}

		//jesli byla smierc karty
		 if (akcje [licznik]=="dead")
		{
			var dif = ktorydivwolny[indsm-1];
			var replaced = smierci[indsm-1].replace(/%20/g, " ");
			$('<img id="theImg" style="position:relative;height:200px;weight:200px;"src="{% static "assets/images/'+replaced+'.jpg" %}" />').appendTo("#"+dif);							
			$("#"+dif).show();
			divs[divs.length-1]=dif;
			var kto =  ($("#"+dif).parent().attr('class'));
			var ktory = dif.substr(9,1);
			if (kto == "gracz1")
			{
						
				ktorydivwolny1[ktory]=1;
							
			}
			else
			{
				ktorydivwolny2[ktory]=1;
			}
			if (indsm!=0)
			indsm--;
			
		}
		
		////jesli byl load karty
		else if (akcje [licznik] == "load")
		{
		
			karty[ind-1]="";
			$("#"+divs[ind-1]).empty();
			var kto =  ($("#"+divs[ind-1]).parent().attr('class'));
			var ktory = divs[ind-1].substr(9,1);
			if (kto == "gracz1")
			{
						
				ktorydivwolny1[ktory]=0;
							
			}
			else
			{
				ktorydivwolny2[ktory]=0;
			}
			ind --;
		}
		
		//atak
		else if (akcje[licznik]=="atak")
		{
			$("#"+atakujace[inda-1]).rotate(360);
			var kto =  ($("#"+atakujace[inda-1]).parent().attr('class'));
			if (kto=="gracz1")
				$("#"+atakujace[inda-1]).animate({top:'-5px'}, 1000);	
			else
				$("#"+atakujace[inda-1]).animate({top:'90px'}, 1000);	
			inda--;
			
			
		}
		
		//obrona
		else if (akcje[licznik]=="obrona")
		{
			var kto =  ($("#"+broniacy).parent().attr('class'));
			if (kto=="gracz1")
				$("#"+broniacy).animate({top:'-5px'}, 1000);	
			else
				$("#"+broniacy).animate({top:'90px'}, 1000);	

		}
		
		//add damage
		else if (akcje[licznik]=="add")
		{	
			damages[inddmg-1]="";
			inddmg--;
			$( "#wyk" ).remove();
		}
		
		//i wyswietlamy tekst
		$("#tekst").empty();
		{% for key,value in akcje.iteritems %}
			wartosc = {{key}};
			if (licznik == wartosc)
				$("#tekst").append('{{value}}');							
		{% endfor %}	

		
    });
});
</script>
</head>
<body>

<button class ="poprzedni">Previous</button>
<button class ="nastepny">Next</button>
<div id="tekst"><h2></div></h2>
<div id="hp1"><h2></div></h2>
<div class="pole">
<div class="gracz1" style="height:300px; width:2000px; border:1px solid green; overflow:auto; position:relative;left:0px;top:0px;margin-bottom:0px;">
<div style="display: table-row">
        <div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:50px;top:0px; " id ="gracz1div0"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:150px;top:0px;" id ="gracz1div1"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:250px;top:0px;" id ="gracz1div2"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:350px;top:0px;" id ="gracz1div3"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:450px;top:0px;" id ="gracz1div4"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:550px;top:0px;" id ="gracz1div5"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:650px;top:0px;" id ="gracz1div6"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:750px;top:0px;" id ="gracz1div7"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:850px;top:0px;" id ="gracz1div8"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:950px;top:0px;" id ="gracz1div9"> </div>
    </div>

</div>

<div class="gracz2" style="height:300px; width:2000px; border:1px solid blue;overflow:auto; position:relative;left:0px;top:0px;">	
<div style="display: table-row">
        <div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:50px;top:100px;" id ="gracz2div0"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:150px;top:100px;" id ="gracz2div1"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:250px;top:100px;" id ="gracz2div2"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:350px;top:100px;" id ="gracz2div3"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:450px;top:100px;" id ="gracz2div4"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:550px;top:100px;" id ="gracz2div5"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:650px;top:100px;" id ="gracz2div6"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:750px;top:100px;" id ="gracz2div7"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:850px;top:100px;" id ="gracz2div8"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:950px;top:100px;" id ="gracz2div9"> </div>
    </div>

</div>
<div id="hp2"><h2></div></h2>
</div>

{% endblock %}
</body>
</html>
