
{% extends 'base.html' %}

{% block section %}
<h2>ATM</h2>
<p>Tutaj możesz zobaczyć wizualizację gry</p>
{% endblock %}


{% load static %}
<!DOCTYPE html>
<html>
<head>

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>

<script>

$(document).ready(function(){
	
	
	var string;
	//pierwszy wczytany nick to pierwszy gracz
	var nickname;
	var card;
	var gracz1='{{gracz1}}';
	var gracz2='{{gracz2}}';
	var ile ={{ileakcji}};
	//licznik akcji
	var licznik=0;
	var wartosc1;
	
	var ind1 =0, ind2=0, ind=0;
	//ktora karte usunac
	var cousunac,coatakuje, cobroni;

	//akcje: LOAD, PLAY, DEAD
	var kartynastole = new Array();
	var divs =[];
	var karty=[];
	var ktorydivwolny=[];
	var akcje = [];
	var tabhp1=[];
	var tabhp2 = [];

	//limit na sztywno - ilosc "divow"
	for (var i = 0, limit = 5; i <= limit; i++) 
	{
		string = "gracz1div"+i;
		$("#"+string).appendTo('.gracz1');
		$("#"+string).hide();
		string = "gracz2div"+i;		
		$("#"+string).appendTo('.gracz2');		
		$("#"+string).hide();
	}
	
	//wyswietla "plansze", czyli obie ramki do gry
	$('.gracz1').show();
	$('.gracz2').show();
	
	$("#hp1").append('hp1: 20');
	$("#hp2").append('hp2: 20');
	
	$('.nastepny').click(function()	
	{
		if (licznik<ile)	
		{			
			//zwiekszamy licznik akcji
			licznik++;
			coatakuje="";
			cobroni="";
			cousunac="";
			//kopiujemyhp
			if (licznik==1)
			{
				tabhp1[licznik-1]=20;
				tabhp2[licznik-1]=20;
			}
			//w innym przypadku, wpisujemy poprzednia wartosc
			else
			{
				tabhp1[licznik-1]=tabhp1[licznik-2];
				tabhp2[licznik-1]=tabhp2[licznik-2];
			}
			
			akcje[licznik-1] = "nic";
			//szukamy, ktory gracz gra
			{% for key,value in ktogra.iteritems %}
				wartosc1 = {{key}};
				if (wartosc1 == licznik)
				{
					nickname={{value}};
				}
			{% endfor %}
			
			//szukamy, ktory gracz gra
			{% for key,value in ataki.iteritems %}
				wartosc1 = {{key}};
				if (wartosc1 == licznik)
				{
					coatakuje={{value}};
				}
			{% endfor %}
			
			//szukamy, ktory gracz gra
			{% for key,value in obrony.iteritems %}
				wartosc1 = {{key}};
				if (wartosc1 == licznik)
				{
					cobroni={{value}};
				}
			{% endfor %}
			
		
			//szukamy, jesli trzeba bedzie usunac karte
			{% for key,value in deads.iteritems %}
				wartosc1 = {{key}};
				if (wartosc1 == licznik)
				{
					cousunac={{value}};
				}
			{% endfor %}
			
			//szukamy, czy update zdrowia
			{% for key,value in hp1.iteritems %}
				wartosc1 = {{key}};
				if (wartosc1 == licznik)
				{
					$("#hp1").empty();
					$("#hp1").append("hp1: "+'{{value}}');
					tabhp1[licznik-1]='{{value}}';

				}
			{% endfor %}
			
			{% for key,value in hp2.iteritems %}
				wartosc1 = {{key}};
				if (wartosc1 == licznik)
				{
					$("#hp2").empty();
					$("#hp2").append("hp2: "+'{{value}}');
					tabhp2[licznik-1]='{{value}}';
				}
			{% endfor %}
		
			//zaleznie od nicku, wczytujemy karte do danego pola
			if (nickname==gracz1)			
			{					
					//szukamy, ktora karte wczytac
					{% for key,value in karty.iteritems %}
						wartosc1 = {{key}};
						if (wartosc1 == licznik)
						{
							
							ind++;
							card='{{value}}';
							var replaced = card.replace(/%20/g, " ");
							karty[ind-1]=replaced;
							if (ind1 < 5)
							{
								ind1++;
								string = "gracz1div"+ind1;
								$('<img id="theImg" style="height:200px;weight:200px; margin-left:10px; position:relative;"src="{% static "assets/images/'+replaced+'.jpg" %}" />').appendTo("#"+string);
								$("#"+string).show();
								//w razie czego dziala $("#theImg").animate({left: '-210px'},500);
								//$("#"+string).animate({left: '-210px'},500);
							}
							else
							{
								for (var i =0,ogr = ktorydivwolny.length; i<ogr;i++)
								{
									if (ktorydivwolny[i]!="")
									{
										var substr= ktorydivwolny[i].search("gracz1");
										if (substr != -1)
										{
											string=ktorydivwolny[i];
											ktorydivwolny[i]="";
											$('<img id="theImg" style="height:200px;weight:200px; margin-left:10px;"src="{% static "assets/images/'+replaced+'.jpg" %}" />').appendTo("#"+string);
											$("#"+string).show();
											break;
										}
										else continue;
									}
								}
							}

							akcje[licznik-1] = "load";
						}
					{% endfor %}
					//zapamietujemy wczytana karte
					{% for key,value in idlist.iteritems %}
						wartosc1 = {{key}};
						if (wartosc1==licznik)
							kartynastole[ind-1]='{{value}}';							
					{% endfor %}
					
					divs[ind-1]=string;
	
			}
			
			//analogicznie jak wyzej
			else if (nickname==gracz2)
			{				
					{% for key,value in karty.iteritems %}
						wartosc1 = {{key}};
						if (wartosc1 == licznik)
						{
							ind++;
							card='{{value}}';
							
							var replaced = card.replace(/%20/g, " ");
							karty[ind-1]=replaced;
							if (ind2 < 5)
							{
								ind2++;
								string = "gracz2div"+ind2;
								$('<img id="theImg" style="height:200px;weight:200px; margin-left:10px;"src="{% static "assets/images/'+replaced+'.jpg" %}" />').appendTo("#"+string);							
								$("#"+string).show();
							}
							else
							{
								for (var i =0,ogr = ktorydivwolny.length; i<ogr;i++)
								{
									if (ktorydivwolny[i]!="")
									{
										var substr= ktorydivwolny[i].search("gracz2");
										if (substr != -1)
										{
											string=ktorydivwolny[i];
											ktorydivwolny[i]="";
											$('<img id="theImg" style="height:200px;weight:200px; margin-left:10px;"src="{% static "assets/images/'+replaced+'.jpg" %}" />').appendTo("#"+string);
											$("#"+string).show();
											break;
										}
										else continue;
									}
								}
							}
							akcje[licznik-1] = "load";
						}
					{% endfor %}
					
					{% for key,value in idlist.iteritems %}
						wartosc1 = {{key}};
						if (wartosc1==licznik)
							kartynastole[ind-1]='{{value}}';							
					{% endfor %}
					
					divs[ind-1]=string;
			}
			
			//jesli trzeba cos usunac
			if (cousunac!="")
			{
				for (var i =0, limit = kartynastole.length; i<limit; i++)
				{
					if (kartynastole[i]==cousunac)
					{
						$("#"+divs[i]).empty();
						ktorydivwolny[i]=divs[i];
						akcje[licznik-1] = "dead";						
					}
				}
 			}
			
			if (coatakuje!="")
			{
				
			}
			
			if (cobroni!="")
			{
				
				for (var i=0, ogr =ind; i<ind;i++)
				{
					if (kartynastole[i]==cobroni)
					{	
						if(nickname==gracz1)
						$("#"+divs[i]).animate({top:'100px'}, 1000);
						else if (nickname==gracz2)
						$("#"+divs[i]).animate({top:'-100px'}, 1000);
					}
				}
                
			}
			

			//wczytujemy kolejna akcje
			$("#tekst").empty();	
			{% for key,value in akcje.iteritems %}
				wartosc1 = {{key}};
				if (wartosc1 == licznik)
					$("#tekst").append('{{value}}');					
			{% endfor %}
			
		}
	
    });
	
	$('.poprzedni').click(function()
	{

		if (licznik!=0)
		{
			
			$("#hp1").empty();
			$("#hp1").append("hp1: "+tabhp1[licznik-1]);
		
			$("#hp2").empty();
			$("#hp2").append("hp2: "+tabhp2[licznik-1]);
			licznik=licznik-1;
		}
		else if (licznik==0)
		{
			for (var i =0, limit = divs.length; i<limit; i++)
			{			
				$("#"+divs).empty();
			}	
		}

			
		 if (akcje [licznik]=="dead")
		{
				//latwiej bedzie po prostu ladowac wszystkie akcje ponownie
			for (var i =0, limit = divs.length; i<limit; i++)
				$("#"+divs[i]).empty();
				
			for (var i =0, limit = kartynastole.length; i<limit; i++)
			{			
				if (kartynastole[i]!="")
				{
					$('<img id="theImg" style="height:200px;weight:200px; margin-left:10px;"src="{% static "assets/images/'+karty[i]+'.jpg" %}" />').appendTo("#"+divs[i]);			
					$("#"+divs).show();
				}
			
			}		
		}
		
		//odejmujemy indeks i wczytujemy karte z ostatniego elementu tabeli
		else if (akcje [licznik] == "load")
		{
		
			karty[ind-1]="";
			$("#"+divs[ind-1]).empty();
			ind --;
		}
		
			
		$("#tekst").empty();
		{% for key,value in akcje.iteritems %}
			wartosc = {{key}};
			if (licznik == wartosc)
				$("#tekst").append('{{value}}');							
		{% endfor %}	

		
    });
});
</script>
</head>
<body>

<button class ="poprzedni">Previous</button>
<button class ="nastepny">Next</button>
<div id="tekst"><h2></div></h2>
<div id="hp1"><h2></div></h2>
<div class="pole">
<div class="gracz1" style="height:300px; width:1000px; border:1px solid green; overflow:auto; position:relative;left:0px;top:0px;margin-bottom:0px;">
<div style="display: table-row">
        <div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:0px;top:0px;margin-bottom:0px;" id ="gracz1div1"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:200px;top:0px;margin-bottom:0px;" id ="gracz1div2"> </div>
		<div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:200px;top:0px;margin-bottom:0px;" id ="gracz1div3"> </div>
		<div style="display: table-cell;overflow:hidden;" id ="gracz1div4"> </div>
		<div style="display: table-cell;overflow:hidden;" id ="gracz1div5"> </div>
    </div>

</div>

<div class="gracz2" style="height:300px; width:1000px; border:1px solid blue;overflow:auto; ">	
<div style="display: table-row">
        <div style="display: table-cell;overflow:hidden; height=200px; weight=200px; position:relative;left:0px;top:100px;margin-bottom:0px;" id ="gracz2div1"> </div>
		<div style="display: table-cell;" id ="gracz2div2"> </div>
		<div style="display: table-cell;" id ="gracz2div3"> </div>
		<div style="display: table-cell;" id ="gracz2div4"> </div>
		<div style="display: table-cell;" id ="gracz2div5"> </div>
    </div>

</div>
<div id="hp2"><h2></div></h2>
</div>

{% endblock %}
</body>
</html>
