body {
            text-align: center;
        }
     
        #page {
            width: 960px;
            text-align: left;
            margin: 10px auto 20px auto; 
        }
       
        #sidebar {
            float: top;
            height: 50px;
            border: 1px solid #000;
            margin: 10px auto 20px auto;
        }
       
        #content {
            float: center;
            border: 1px solid #f00;
            padding: 10px;
        }

