{% extends "stat.html" %}

{% block navigation%}
   <li class="first"><a href="/main/" >Główna<br></a></li>
   <li><a href="/stat/popular/">Popularne</a></li>
    <li><a href="/stat/leng/">Dlugosc gier</a></li>
   <li><a href="/stat/best/" class="active">Najlepsi</a></li>
{% endblock %}


	{%block section %}
			<h2>Najlepi gracze<br></h2>
			<p></p>			
		{% endblock %}

{% block accord %}
<html>

<head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="http://code.highcharts.com/highcharts.js"></script>

<script>

$(document).ready(function() {



    var chart1 = new Highcharts.Chart({

        chart: {

            renderTo: 'container',

            type: 'column',
			
			backgroundColor: 'transparent'

        },

				plotOptions: {

        column: {

            colorByPoint: true

			}

		},

		colors: [

				'#c0c0c0',
				
				'#ffd700',

                '#8b4513'

            ],



        title: {

            text: 'Najlepsi gracze',
			style: {
					color: 'white',
					fontWeight: 'bold'
				},

        },

	

        xAxis: {

			labels: {
                style: {
                    color: 'white'
                }
			},

            categories: [{% for el,k in d.iteritems%}

                        [

                            '{{ el }}', 



                        ],

                        {% endfor %}]

						

        },

        yAxis: {
			gridLineWidth: 0,
                minorGridLineWidth: 0,
            title: {
				text: 'Liczba zwyciestw',
				style: {
					color: 'white',
					fontWeight: 'bold'
				},
                

            },
			
			labels: {
                style: {
                    color: 'white'
                }
			},

			tickInterval: 2

        },

		legend: {

                enabled: false

            },

        series: [{

			name:'Liczba zwyciêstw',

            data: [{% for el,k in d.iteritems %}

                        [

                            {{k}}, 



                        ],

                        {% endfor %}]

        }]

    });

});

</script>

</head>

<body>

<div id="container" style="width:100%; height:400px;"></div>



</body>
</html>

{% endblock %}

