{% extends "stat.html" %}

{% block navigation%}
   <li class="first"><a href="/main/" >Główna<br></a></li>
   <li><a href="/stat/popular/">Popularne</a></li>
    <li><a href="/stat/leng/"class="active">Dlugosc gier</a></li>
   <li><a href="/stat/best/" >Najlepsi</a></li>
{% endblock %}

{%block section %}
			<h2>Długość rozgrywek<br></h2>
			<p></p>			
			<p>Czas liczony w turach gry</p>
		{% endblock %}

{% block  accord %}
<html>

<head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="http://code.highcharts.com/highcharts.js"></script>

<script>

$(document).ready(function() {



	var chart1 = new Highcharts.Chart({

           chart: {

		   renderTo: 'container',

                type: 'line',
							
				backgroundColor: 'transparent'
            },

       

          title: {

                text: 'Dlugosc gier',
				style: {
                    color: 'white',
					fontWeight: 'bold'
                }

            },



            xAxis: {
                categories: [{% for el,i in d.iteritems %}

                        [

                            '{{ el }}', 



                        ],

                        {% endfor %}],
			labels: {
                style: {
                    color: 'white'
                }
			},
			



            },

            yAxis: {
				gridLineWidth: 0,
                minorGridLineWidth: 0,

                plotLines: [{

                    value: 0,

                    width: 1,

                    color: '#00F'

                }],
				title:{
					text: 'Liczba tur',

					style: {
                    color: 'white'
					}
			
				},
				labels: {
					style: {
                    color: 'white'
					}
				}
            },

			legend: {

                enabled: false

            },

            tooltip: {

                valueSuffix: ''

            },

 

        series: [{

			name:'Liczba tur',
			
            data: [{% for el,k in d.iteritems %}

                        [

                            {{k}}, 



                        ],

                        {% endfor %}]

        }]

    });

});

</script>

</head>

<body>

<div id="container" style="width = 100px; height:300;"></div>



</body>

</html>
{% endblock %}
