{% load static %}
<!DOCTYPE html>
<html lang ='pl'>

<img src='{% static "assets/images/logo.png" %}' />

<head>
    <title>{% block title %}ATMagic{% endblock %}</title>
        
        <link rel="stylesheet" type="text/css" href='{% static "assets/css/default.css" %}'>   
</head>

<body>
    <div id="page">
	<div id="header">
		<a id="logo" href="base.html">
		<img style="border: 0px solid; width:278px; height: 156px;"
			src="images/logo.png" alt=""></a>
    <div id="sidebar">

        {% block sidebar %}
        <ul>
<li><a href="/main/">Strona glowna</a>    
<a href='/gracze/'>Gracze</a>    
<a href="/about/">Czym jest ATMagic?</a>    
<a href="/download/">Download</a>    
<a href="/info/">Dokumentacja</a>    
<a href="/graf/">Wykresy</a>     
<a href="/stat/">Statystyki</a>    
<a href="/video/">Wizualizacja</a>    
<a href="/accounts/login/">Zaloguj</a>
</li>
        </ul>
        {% endblock %}
    </div>

    <div id ="content">
        {% block content %}{% endblock %}
 
    </div>

    </div>

</body>
</html>

