{% extends "base.html" %}

{% block section %}

    {% if form.errors %}
      <p class="error">Zle haslo/nazwa uzytkownika</p>
    {% endif %}

    <form action="/accounts/auth/" method="post" style="color:white">{% csrf_token %}
        <label for="username">Login:</label>
        <input type="text" name="username" value="" id="username">
        <label for="password">haslo</label>
        <input type="password" name="password" value="" id="password">
       
        <input type="submit" value="login"/>
    </form>

    <p>Nie zarejestrowany? <a href="/accounts/register/">kliknij</a></p>
{% endblock %}
