{% load static %}
<!DOCTYPE html>
<html><head>
<!-- Website template by freewebsitetemplates.com -->  <title>{% block title %}ATMagic{% endblock %}</title>




	
	<meta charset="utf-8">
	<link href="css/style.css" rel="stylesheet" type="text/css"></head><body>

	<div id="page">
		<div id="header">
			<a id="logo" href="index.html"><img style="border: 0px solid ; width: 278px; height: 156px;" src="images/logo.png" alt=""></a>
			<ul class="navigation">
	{% block sidebar %}			
  <li class="first"><a href="index.html" class="active">Strona główna<br>
    </a>
				</li>

				
				
				<li>
					<a href="about.html">Statystyki</a></li>
  <li><br>
  </li>
<li>
					<a href="myths.html">Download</a>
				</li><li>
					<a href="archives.html">Zaloguj</a>
				</li>
			</ul>
 {% endblock %}
		</div>
		<div id="body">
			<div class="featured"> <img style="width: 882px; height: 383px;" src="images/featured-character.jpg" alt="">
				<div class="section">
					<h2><a href="index.html">Czym jest ATMagic<br>
</a></h2>
					<p>Augmented reality etc.<br>
 </p>
					<p><br>
 </p>
					<a class="readmore" href="index.html">&nbsp;</a> </div>
				<span>&nbsp;</span> </div>
			<div id="content">
				
<p>Witaj na stronie atmagic.</p>
<br>
<p><br>
</p>
<p>przykladowy txt..............................dsssssssssssssssssssssssssssssssssssss</p>
<p>ssssssssssssssssssssssssssssssss</p>
<p>ssssssssssssssssssssssssssssssssssss</p>
<p>sssssssssssssssssss<br>
 </p>
</div>&nbsp;
			
				<br>
</div>
		<div id="footer">
<ul>
  <li><a href="about.html" class="video"></a>
					
    <p>infonr3
					</p>

				</li>

				
  <li>
					<a href="myths.html" class="myths">&nbsp;</a>
					
    <p>infonr2&nbsp;&nbsp;&nbsp;
					</p>

				</li>

				<li class="last">
					<a href="archives.html" class="archives">&nbsp;</a>
					<p>Info nr 1</p></li>
  <li class="last"><br>
  </li>

			
</ul>

			<span>© Copyright © ATMagic<br>
</span> </div>
	</div>
</body></html>
