<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script>
$(document).ready(function() {

    var chart1 = new Highcharts.Chart({
        chart: {
			backgroundColor: '#FCFFC5',
            renderTo: 'container',
            type: 'column'
        },
				plotOptions: {
        column: {
            colorByPoint: true
			}
		},
		colors: [
				'#0000ff',
				'#008000',
                '#ffffff',
				'#ff0000',				
                '#000000'
            ],

        title: {
            text: 'Ulubione kolory'
        },
	
        xAxis: {
		
            categories: [{% for el,k in d.iteritems%}
                        [
                            '{{ el }}', 

                        ],
                        {% endfor %}]
						
        },
        yAxis: {
            title: {
                text: 'Liczba użyć'
            },
			tickInterval: 2
        },
		legend: {
                enabled: false
            },
        series: [{
			name:'Ile razy wystąpił',
            data: [{% for el,k in d.iteritems %}
                        [
                            {{k}}, 

                        ],
                        {% endfor %}]
        }]
    });
});
</script>
</head>
<body>
<div id="container" style="width:100%; height:400px;"></div>

</body>
</html>
