{% extends "stat.html" %}

{%block section %}
			<h2>Witaj na stronie ATMagic<br></h2>
			<p></p>			
			<p>Augmented reality etc.<br></p>
		{% endblock %}

{% block content %}

<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script>
$(document).ready(function() {

    var chart1 = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            type: 'column',
			backgroundColor: 'transparent'
        },
				plotOptions: {
        column: {
            colorByPoint: true
			}
		},

        title: {
            text: 'Popularne karty',
			style: {
						color: 'white',
						fontWeight: 'bold'
					}
        },
	
        xAxis: {
		
            categories: [{% for el,k in d.iteritems%}
                        [
                            '{{ el }}', 

                        ],
                        {% endfor %}],
					labels: {
					style: {
                    color: 'white'
					}
				},
						
        },
        yAxis: {
			gridLineWidth: 0,
            minorGridLineWidth: 0,
			title:{
					text: 'Liczba uzyc',

					style: {
					fontWeight: 'bold',
                    color: 'white'
					}
			
				},
				labels: {
					style: {
                    color: 'white'
					}
				},
			tickInterval: 1,
	
        },
		legend: {
                enabled: false
            },
        series: [{
			name:'Ile razy użyta',
            data: [{% for el,k in d.iteritems %}
                        [
                            {{k}}, 

                        ],
                        {% endfor %}]
        }]
    });
});
</script>
</head>
<body>
<div id="container" style="width:100%; height:400px;"></div>

</body>
</html>
{% endblock %}
